<div class="tables-container">
  <ul class="nav nav-tabs tables-tab-bar" role="tablist">
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{'active': locationPath === '/tpage'|| locationPath === '' }" id="tpage-tab" routerLink='/tpage' data-toggle="tab" href="#home" role="tab" aria-controls="home"
        aria-selected="true">Paging Table</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{'active': locationPath === '/tscroll' }" id="tscroll-tab" routerLink='/tscroll' data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
        aria-selected="false">Scroll Table</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{'active': locationPath === '/tpserver' }" id="tpserver-tab" routerLink='/tpserver' data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
        aria-selected="false">Server-side processing</a>
    </li>
  </ul>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>